@font-face {
  font-family: 'DIN Next W23';
  src: url('../public/Fonts/DIN-Next-LT-W23-Ultra-Light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next W23';
  src: url('../public/Fonts/DIN-Next-LT-W23-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next W23';
  src: url('../public/Fonts/DIN-Next-LT-W23-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next W23';
  src: url('../public/Fonts/DIN-Next-LT-W23-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next W23';
  src: url('../public/Fonts/DIN-Next-LT-W23-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next W23';
  src: url('../public/Fonts/DIN-Next-LT-W23-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next W23';
  src: url('../public/Fonts/DIN-Next-LT-W23-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

h1, h2 {
  font-family: 'DIN Next W23', Arial, sans-serif;
  font-weight: 800;
}

h3, h4 {
  font-family: 'DIN Next W23', Arial, sans-serif;
  font-weight: 500;
}

h5, h6 {
  font-family: 'DIN Next W23', Arial, sans-serif;
  font-weight: 700;
}

p {
  font-family: 'DIN Next W23', Arial, sans-serif;
  font-weight: 400;
}

a, button {
  font-family: 'DIN Next W23', Arial, sans-serif;
  font-weight: 500;
}

input, textarea, select {
  font-family: 'DIN Next W23', Arial, sans-serif;
  font-weight: 300;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-green: #00592D;
  --secondary-green: #95C11F;
  --light-green: #6FA11F;
  --dark-green: #002809;
  --gray-bg: #f8f9fa;
  --white: #FFFFFF;
  --text-dark: #333333;
  --text-light: #666666;
  --border-color: #e0e0e0;
  --success: #2ecc71;
  --warning: #f39c12;
  --danger: #e74c3c;
}
/* pour les direction des texte , inputs , selects pour la langue arabe */
.text-ar {
  direction: right;       
  text-align: right; 
  font-size: 1.2em;  
}

.text-ar input,.text-ar select{
  direction: right;       
  text-align: right; 
  font-size: 1.2em;  
}


button,
input,
textarea,
select {
  font-family: 'DIN Next W23', Arial, sans-serif;
  font-weight: 400;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
  from { opacity: 0; transform: translateX(-20px); }
  to { opacity: 1; transform: translateX(0); }
}