html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-green: #00592D;
  --secondary-green: #95C11F;
  --light-green: #6FA11F;
  --dark-green: #002809;
  --gray-bg: #f8f9fa;
  --white: #FFFFFF;
  --text-dark: #333333;
  --text-light: #666666;
  --border-color: #e0e0e0;
  --success: #2ecc71;
  --warning: #f39c12;
  --danger: #e74c3c;
}

.text-ar {
  direction: right;       
  text-align: right; 
  font-size: 1.2em;  
}

.text-ar input,.text-ar select{
  direction: right;       
  text-align: right; 
  font-size: 1.2em;  
}