.agences-section {
    max-width: 1200px;
    margin: 60px auto;
    text-align: center;
}

.agence-title {
    font-size: 38px; 
    font-weight: bold;
    color: #00592D; 
    margin-bottom: 50px;
    display: inline-block;
    border-bottom: 4px solid #96e600; 
    padding-bottom: 5px; 
}

.agences-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 cartes par ligne sur desktop */
    gap: 50px;
    padding: 0 20px;
}

.agence-card h3 {
    font-size: 24px;
    margin-top: 20px;
}

.agence-card p {
    font-size: 16px;
    color: #555;
}

/* Image avec coins arrondis style Naolib */
.agence-img {
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
    border-radius: 35px;
}

.agence-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;
    display: block;
}

/* Bouton vert arrondi */
.agence-btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #96e600;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 15px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.2s;
}

.agence-btn:hover {
    transform: scale(1.1);
}

/* Bouton voir plus */
.agence-more {
    margin-top: 40px;
}

.more-btn {
    display: inline-block;
    padding: 12px 25px;
    background: #00592D;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.2s;
}

.more-btn:hover {
    background: #007c3f;
}

/* Responsive mobile */
@media (max-width: 768px) {
    .agences-grid {
        grid-template-columns: 1fr; /* 1 carte par ligne */
    }
}
